body {
  font-family: "Arial", sans-serif;
  margin: 0;
  overflow: hidden;
}

/* Theme */
.light-theme,
.dark-theme {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background-color 0.5s ease-in-out, clip-path 0.5s ease-in-out;
}

.light-theme {
  background-color: white;
  color: black;
}

.dark-theme {
  background-color: #222222;
  color: white;
}

/* HEADER */
.logo {
  display: flex;
  margin-bottom: 30px;
  cursor: pointer;
  position: relative;
  top: 1em;
}

.logo-text {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.logo-title {
  margin: 0 0 5px 0;
  color: black;
  font-weight: bold;
  font-size: 46px;
}

.logo-subtitle {
  margin-top: -10px;
  color: black;
  font-size: 18px;
}

.logo-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3px;
}

.logo-image img {
  width: 60px;
  height: 80px;
  box-shadow: 0px 0px 7px 2px rgba(255, 255, 255, 0.19);
}

.dark-theme .logo-title,
.dark-theme .logo-subtitle {
  color: white;
}

/* FOOTER */
.tedlink {
  position: absolute;
  right: 0.6rem;
  bottom: 0.6rem;
  opacity: 0.5;
  color: gray;
  font-size: 0.6rem;
  line-height: 1.2;
  font-weight: 700;
}

.theme-toggle {
  position: absolute;
  left: 0.6rem;
  bottom: 0.6rem;
  font-size: 0.6rem;
  line-height: 1.2;
  font-weight: 700;
}
