:root {
  --light-main-bg: white; 
  --dark-main-bg: #222222; /* Dark theme background color */
}

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  overflow: hidden;
}

/* Theme */
.light-theme,
.dark-theme {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background-color 0.5s ease-in-out, clip-path 0.5s ease-in-out;
}

.light-theme {
  background-color: var(--light-main-bg);
  color: black;
}

.dark-theme {
  background-color: var(--dark-main-bg);
  color: white;
}

/* HEADER */
.logo {
  display: flex;
  margin-bottom: 30px;
  cursor: pointer;
  position: relative;
  top: 1em;
  left: 1em;
}

.logo-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.logo-title {
  margin: 0 0 5px 0;
  color: black;
  font-weight: bold;
  font-size: 46px;
}

.logo-subtitle {
  margin-top: -10px;
  color: black;
  font-size: 18px;
}

.logo-image {
  margin-top: 8px;
  justify-content: center;
  align-items: center;
}

.logo-image img {
  width: 40px;
}

.dark-theme .logo-title,
.dark-theme .logo-subtitle {
  color: white;
}

/* FOOTER */
.tedlink {
  position: absolute;
  right: 0.6rem;
  bottom: 0.6rem;
  opacity: 0.5;
  color: gray;
  font-size: 0.6rem;
  line-height: 1.2;
  font-weight: 700;
}

.theme-toggle {
  position: absolute;
  left: 0.6rem;
  bottom: 0.6rem;
  font-size: 0.6rem;
  line-height: 1.2;
  font-weight: 700;
}

/* MAIN */
.main-content {
  height: 80vh; 
  width: 80%; 
  margin: 0 auto; 
  background-color: aqua;
}

.dark-theme .main-content {
  background-color: var(--light-main-bg); 
  color: black;
}